.App {
    max-height: 450px;
    overflow-y: scroll;
  }
  .App .input1{
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(227, 227, 220);
    text-decoration: none;
    width: 230px;
    height: 40px;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: green;
  }
  